header{
    background-color: black;
   
    width:100%;
    position:sticky;
    padding-top: 2px;
    z-index:25;
    color:wheat

}

.cover-img{
    background-image: url('https://wallpapercave.com/wp/wp2754864.jpg');
    background-size: cover;
    height:50vh
}


.col{
    outline: 2px rgb(255, 255, 255) solid;
}



.img-text{
    justify-content: center;
    padding: 29vh;
    padding-left: 18vw;
}

.news-stuff{
    padding-top: 5vh;
    justify-content: center;
    
}

footer{
    height: 20vh;
    background-color: black;
}
